
.questions__buttons-container {
  margin-bottom: 20px;
}

.questions__button {
  margin-right: 1.5em;
  border: none;
  padding: 0.5em;
  color: #707070;
  background-color: transparent;
  border-bottom: 2px solid transparent; /* Allocate the space for the border */
}

.questions__button:hover {
  border-bottom: 2px solid #81c3f8;
}

.questions__button--active,
.questions__button--active:hover {
  border-bottom: 2px solid #2196f3;
  color: #202020;
}
