.header-avatar {
  position: relative;
}

.header-avatar__button {
  border: none;
  padding: 0;
  background-color: white;
}

.header-avatar__image {
  display: none;
  margin-right: 0.55em;
  vertical-align: middle;
}

@media screen and (min-width: 50em) {
  .header-avatar__image {
    display: inline;
  }
}

.header-avatar__name {
  margin-right: 0.3em;
  vertical-align: middle;
}

.header-avatar__down-arrow {
  margin: 0.15em;
  display: inline-block;
  border: solid #707070;
  border-width: 0 2px 2px 0; /* Box but with only 2 edges */
  padding: 0.2em;
  transform: rotate(45deg); /* Rotate 2 sided box so it's a down arrow */
}

.header-avatar__menu {
  position: absolute;
  right: 0;
  padding: 0.6em 2em;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  background-color: white;
}
