/*
 The HeaderLinks component is a direct child of SiteHeader which is a flexbox parent
 */
.header-links {
  flex-grow: 1; /* The links take all the available space */
}

@media screen and (min-width: 48em) {
  .header-links {
    margin-left: 1em; /* Spacing between the logo and the header links */
  }
}

@media screen and (min-width: 60em) {
  .header-links {
    margin-left: 3.5em; /* Spacing between the logo and the header links */
  }
}

.header-links__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
