.question-card__header {
  display: flex;
  align-items: center; /* Vertical alignment */
}

/*
 The header and avatar image are in the header flexbox parent.
 Have the heading take all the available width.
 */
.question-card__heading {
  flex-grow: 1;
}

.question-card__avatar {
  margin-right: -0.35em;
}

.question-card__answer-container {
  margin-left: 1.25em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.question-card__radio {
  margin-right: 0.6em;
  vertical-align: middle;
}

.question-card__answer-letter {
  margin-right: 0.75em;
  font-size: 1.25em;
  font-weight: 500;
  vertical-align: middle;
}

.question-card__question {
  vertical-align: middle;
}

.question-card__footer {
  text-align: right;
  margin-right: 0.1em;
}


